<html>

<style>
<!--
    .row_group {
        font-size: 20pt
    }
-->
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function handleEnter() {
    if (event.keyCode === 13) {
        event.preventDefault();
        return false;
    }
}

function saveData() {
    $.ajax({
        url: "/budgets",
        type: "POST",
        data: JSON.stringify(getTableData()),
        contentType: "application/json; charset=utf-8",
        success: function (result) {
            alert("Data Saved");
            $('#testDiv').text(result);
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    });
}

function getTableData() {
    const month = "{{.Month}}";
    const year = "{{.Year}}";
    const budgetItems = [];

    const table = $("#items");
    table.find('tr.data').each(function (i, el) {
        const $tds = $(this).find('td');
        const name = $tds.eq(0).text();
        const budgetAmount = $tds.eq(1).text();
        const actualAmount = $tds.eq(2).text();
        budgetItems.push({
            name: name,
            budgetAmount: parseFloat(budgetAmount),
            actualAmount: parseFloat(actualAmount)
        })
    });

    $('#testDiv').text(JSON.stringify(budgetItems));

    return {
        month: month,
        year: parseInt(year),
        budgetItems: budgetItems
    };
}
</script>

<h2>Monthly Budget: {{.Month}}</h2>
<table id="items" class="table table-hover">
<thead>
    <tr>
        <th>Item</th>
        <th>Budget amount</th>
        <th>Actual amount</th>
    </tr>
</thead>
<tbody>
    {{range .BudgetGroups}}
        <tr class="group_header">
            <td class="row_group" colspan="4">{{.Name}}</td>
        </tr>
        {{range .BudgetItems}}
            <tr class="data" row_id="1">
                <td><div class="row_data" col_name="name" contenteditable onkeydown="handleEnter()">{{.Name}}</div></td>
                <td><div class="row_data" col_name="budget" contenteditable onkeydown="handleEnter()">{{.BudgetAmount}}</div></td>
                <td><div class="row_data" col_name="actual">{{.ActualAmount}}</div></td>
                <td><button class="row_button" col_name="details" onclick="showDetails()">...</button></td>
            </tr>
        {{end}}
    {{end}}
</tbody>
</table>
<button type="button" onclick="saveData()">Save</button>
<p id="testDiv"></p>
</html>