<html>

<style>
<!--
    .row_group {
        font-size: 20pt;
        padding-top: 20px;
    }

    .row_data {
        font-size: 12pt;
        text-align: left;
    }

    .row_data_number {
        font-size: 12pt;
        text-align: right;
    }

    .table_header {
        font-size: 14pt;
        text-align: left;
    }

    .hidden {
        display: none;
    }
-->
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function handleEnter() {
        if (event.keyCode === 13) {
            event.preventDefault();
            return false;
        }
    }

    function showDetails(group, item) {
        alert(`${group}.${item}`);
        event.preventDefault();
        return false;
    }

    function saveData() {
        $.ajax({
            url: "/actuals",
            type: "POST",
            data: JSON.stringify(getTableData()),
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                alert("Data Saved");
                $('#testDiv').text(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function getTableData() {
        const month = "{{.Month}}";
        const year = "{{.Year}}";
        const groupsLookup = {};
        const budgetItems = [];

        const table = $("#items");
        // Get all the groups into a dictionary
        table.find('tr.group').each(function (i, el) {
            const $tds = $(this).find('td');
            const group = $tds.eq(0).text();
            const incoming = $tds.eq(1).text();
            groupsLookup[group] = {
                name: group,
                incoming: JSON.parse(incoming),
                budgetItems: [] 
            };
        });
        // Read all the data rows into their groups
        table.find('tr.data').each(function (i, el) {
            const $tds = $(this).find('td');
            const group = $tds.eq(0).text();
            const name = $tds.eq(1).text();
            const budgetAmount = $tds.eq(2).text();
            const actualAmount = $tds.eq(3).text();
            groupsLookup[group].budgetItems.push({
                name: name,
                budgetAmount: parseFloat(budgetAmount),
                actualAmount: parseFloat(actualAmount)
            })
        });

        const budgetGroups = Object.values(groupsLookup);

        $('#testDiv').text(JSON.stringify(budgetGroups));

        return {
            month: month,
            year: parseInt(year),
            budgetGroups: budgetGroups
        };
    }
</script>

<h2>Monthly actuals: {{.Month}}</h2>
<table id="items" class="table table-hover">
<thead>
    <tr>
        <th class="table_header hidden">Group</th>
        <th class="table_header">Date</th>
        <th class="table_header">Description</th>
        <th class="table_header">Amount</th>
    </tr>
</thead>
<tbody>
    {{range .ActualGroups}}{{$group := .BudgetName}}
        <tr class="group">
            <td class="row_group" colspan="3">{{.BudgetName}}</td>
            <td class="row_group">{{.TotalAmount}}</td>
        </tr>
        {{range .ActualItems}}
            <tr class="data" row_id="1">
                <td class="hidden"><div class="row_data" col_name="group">{{$group}}</div></td>
                <td><div class="row_data" col_name="date" contenteditable onkeydown="handleEnter()">{{.Date}}</div></td>
                <td><div class="row_data" col_name="description" contenteditable onkeydown="handleEnter()">{{.Description}}</div></td>
                <td><div class="row_data_number" col_name="amount" contenteditable onkeydown="handleEnter()">{{.Amount}}</div></td>
            </tr>
        {{end}}
    {{end}}
</tbody>
</table>
<button type="button" onclick="saveData()">Save</button>
<p id="testDiv"></p>
</html>